@if (isLoading) {
<div class="spinner-border text-center d-flex justify-content-center align-items-center" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
} @else {
@if (currentUser) {
<div class="invoice-container">
  <div class="invoice">
    <h4 class="mb-3 text-center"> {{ currentUser.entreprise?.name?.toUpperCase() }} </h4>
    <table class="invoice-table">
      <thead>
        <tr>
          <th>Designation</th>
          <th>Qté</th>
          <th>P.U.</th>
          <th>TVA</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        @for (item of commandeLineList; track item.ID) {
        @if (item.Plat!.ID! > 0) {
        <tr>
          <td>
            {{ item.Plat!.name }}
          </td>
          <td>{{ item.quantity }}
            @if (item.quantity > 1) {
            {{ item.Plat!.unite_vente }}s
            }@else {
            {{ item.Plat!.unite_vente }}
            }
          </td>
          <td> {{ formatCurrency(item.Plat!.prix_vente, currentUser.currency) }} </td>
          <td>
            @if (item.Plat!.tva === 16) {
            {{ item.Plat!.tva }}%
            }@else {
            -
            }
          </td>
          <td>
            {{ formatCurrency(item.quantity * item.Plat!.prix_vente, currentUser.currency) }}
          </td>
        </tr>
        }@else if (item.Product!.ID! > 0) {
        <tr>
          <td>
            {{ item.Product!.name }}
          </td>
          <td>{{ item.quantity }}
            @if (item.quantity > 1) {
            {{ item.Product!.unite_vente }}s
            }@else {
            {{ item.Product!.unite_vente }}
            }
          </td>
          <td> {{ formatCurrency(item.Product!.prix_vente, currentUser.currency) }} </td>
          <td>
            @if (item.Product!.tva === 16) {
            {{ item.Product!.tva }}%
            }@else {
            -
            }
          </td>
          <td>
            {{ formatCurrency(item.quantity * item.Product!.prix_vente, currentUser.currency) }}
          </td>
        </tr>
        }

        } @empty {
        <tr>
          <td colspan="6">Aucune donnée</td>
        </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Sous-total</td>
          <td>{{ formatCurrency(subtotal, currentUser.currency) }}</td>
        </tr>
        <tr>
          <td colspan="4">TVA (16%)</td>
          <td>{{ formatCurrency(tax, currentUser.currency) }}</td>
        </tr>
        <tr>
          <td colspan="4">Total</td>
          <td>{{ formatCurrency(total, currentUser.currency) }}</td>
        </tr>
      </tfoot>
    </table>

    <div class="footer text-center">
      <p>Merci de votre confiance !</p>
      <p>
        RCCM: {{ currentUser.entreprise?.rccm }} ID Nat: {{ currentUser.entreprise?.idnat }} <br>
        Telephone: {{ currentUser.entreprise?.telephone }} <br>
        Email: {{ currentUser.entreprise?.email }}
      </p>
    </div>
  </div>
</div>
}
}