  /* Style général pour le conteneur de la facture */
.invoice-container {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
}

/* Style général pour le tableau de facture */
.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  min-width: 400px;
}

.invoice-table th,
.invoice-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.invoice-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}



// ===============================================================================

@media (max-width: 1024px) {
  .invoice-container {
    display: flex;
    justify-content: center;
  }
  
  .invoice {
    width: 100%;
    font-family: sans-serif;
   
    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      flex-wrap: wrap;
  
      /* Important pour la responsivité */
      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
      }
  
      .invoice-info {
        text-align: right;
  
        @media (max-width: 600px) {
          text-align: center;
        }
      }
    }
  
    .client-info {
      margin-bottom: 20px;
    }
  
    .invoice-table {
      width: 100%;
      // border-collapse: collapse;
      // margin-bottom: 20px;
  
      th,
      td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
      }
  
      th {
        background-color: #f0f0f0;
      }
    }
  
    .footer {
      text-align: center;
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }
  }
  
}




.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button {
  /* Styles communs à tous les boutons */
  padding: 10px 20px;
  // background-color: #4CAF50;
  // color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  flex-grow: 1;
}

.full-width {
  /* Styles spécifiques pour le bouton plein écran */
  width: 100%;
}

.full-width-50 {
  /* Styles spécifiques pour le bouton plein écran */
  width: 50%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Nouvel ajout */
}



// ==================================================================================

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button {
  /* Styles communs à tous les boutons */
  padding: 10px 20px;
  // background-color: #4CAF50;
  // color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  flex-grow: 1;
}

.full-width {
  /* Styles spécifiques pour le bouton plein écran */
  width: 100%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Nouvel ajout */
}