@if (loadUserData && loading) {
    <div class="text-center d-flex justify-content-center align-items-center">
        <div class="spinner-border bs-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    } @else {
    @if (livraison) {
    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 class="page-title">
                                    Livraisons
                                    <span class="count-title">#{{ livraison.Client!.fullname }}</span>
                                </h4>
                                <!-- <h6>Germain kataku</h6> -->
                            </div>
                            <div class="col-4 text-end">
                                <div class="head-icons">
                                    <a [routerLink]="routes.commandeList" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-original-title="Refresh"><i class="ti ti-refresh-dot"></i></a>
                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-original-title="Collapse" id="collapse-header"><i
                                            class="ti ti-chevrons-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Page Header -->
    
                    <!-- Campaign Tab -->
                    <div class="campaign-tab">
                        <div class="d-block d-lg-none d-xl-none d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                            <h4 style="padding-right: 10px;">Panier : </h4>
                            <a href="javascript:void(0);" class="btn btn-outline-primary position-relative"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvas_view"><i
                                    class="ti ti-shopping-cart me-2" style="size: 40px;"></i>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ totalLength() }}
                                </span>
                                <span>{{ formatCurrency(total, currentUser.currency) }}</span>
                            </a>
                        </div>
                        <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-between">
                            <ul class="nav">
                                <li>
                                    <a [routerLink]="['plat-line']" routerLinkActive="active">
                                        Plats
                                        <span>{{ platLength() }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['product-line']" routerLinkActive="active">
                                        Produits
                                        <span>{{ prodLength() }}</span> 
                                    </a>
                                </li> 
                            </ul>
                            <div class="d-none d-lg-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                                <h4 style="padding-right: 10px;">Panier client : </h4>
                                <a href="javascript:void(0);" class="btn btn-outline-primary position-relative"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvas_view"><i
                                        class="ti ti-shopping-cart me-2" style="size: 40px;"></i>
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        {{ totalLength() }}
                                    </span>
                                    <span>{{ formatCurrency(total, currentUser.currency) }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Campaign Tab -->
                     <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->
    
    
    <!--View cart -->
    <div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_view">
        <div class="offcanvas-header border-bottom justify-content-between">
            <h4>Facture <span class="text-purple ms-2">#{{ livraison.Client!.fullname }}</span></h4>
            <div class="d-flex align-items-center">
                <div class="toggle-header-popup">
                    <div class="dropdown table-action me-2">
                        <a href="javascript:void(0);" class="btn btn-dropdowns dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div style="margin-right: 10px;">
                                <i class="fa-solid fa-print"></i>
                            </div>
                            Download
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <!-- <a class="dropdown-item" href="javascript:void(0);"> Download </a> -->
                            <a class="dropdown-item" href="javascript:void(0);" (click)="generatePdf()">
                                Facture PDF
                            </a>
                        </div>
                    </div>
                </div>
                <button type="button"
                    class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
                    data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
        </div>
        <div class="offcanvas-body ">
            <app-liv-facture [currentUser]="currentUser" [livraison_id]="livraison.ID!" [livraison]="livraison"
                [commandeLineList]="commandeLineList" [selectCaisseList]="selectCaisseList"></app-liv-facture>
        </div> 
    </div>
    <!-- /View cart -->
    
    }
    }