<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content">
        @if (loadUserData) {
        <div class="spinner-border text-center d-flex justify-content-center align-items-center" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        }@else {
        <div class="row">
            @if (isLoadingData ) {
            <div class=" text-center d-flex justify-content-center align-items-center ">
                <div class="spinner-border bs-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            } @else {
            @if (currentUser && ingredient) {
            <div class="col-md-12">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title">
                                Stock <span class="text-primary" style="font-weight: 900;">{{ ingredient.name }}</span>
                            </h4>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="head-icons">
                                <app-reload></app-reload>
                                <app-collapse-header></app-collapse-header>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->
                <div class="card">
                    <div class="card-header">
                        <div class="row d-flex">
                            <div class="col-sm-6 con-form mb-3">
                                <form [formGroup]="dateRange">
                                    <div class="d-flex title-head">
                                        <div class="daterange-picker ">
                                            <div class="form-sort me-2">
                                                <i class="ti ti-calendar"></i>
                                                <input type="text" class="form-control date-range bookingrange"
                                                    bsDaterangepicker [bsConfig]="{ adaptivePosition: true }"
                                                    formControlName="rangeValue" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <div class="icon-form mb-3 mb-sm-0">
                                    <span class="form-icon"><i class="ti ti-search"></i></span>
                                    <input type="text" #input [(ngModel)]="search"
                                        (ngModelChange)="onSearchChange($event)" class="form-control"
                                        placeholder="Ex. Date" />
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex align-items-center flex-wrap row-gap-2 justify-content-sm-end">
                                   
                                    @if (isLoading) {
                                        <div class="spinner-border text-center d-flex justify-content-center align-items-center"
                                            role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        }@else {
                                            @if(currentUser.permission === 'ALL' ||
                                            currentUser.permission === 'AM' ||
                                            currentUser.permission === 'A') {
                                            <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvas_add"><i
                                                    class="ti ti-square-rounded-plus me-2"></i>Ajouter stock de 
                                                    {{ ingredient.name }}</a>
                                            }
                                    }
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /Search -->
                    </div>
                    <div class="card-body">
                        <div class="task-wrapper">
                            <a href="javascript:void(0);" class="task-accordion" data-bs-toggle="collapse"
                                data-bs-target="#rapport">
                                <h4>Rapport de Stocks ingredients</h4>
                            </a>
                            <div class="tasks-activity tasks collapse show mt-3" id="rapport">
                                <!-- Campaign Status -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="campaign-box bg-primary-light" style="background-color: #007d9c1f;">
                                            <app-progress-bar
                                                [progress]="+pourcentstockDispo().toFixed(2)"></app-progress-bar>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="campaign-box bg-success-light">
                                            <div class="campaign-img">
                                                <p>Stocks disponible</p>
                                            </div>
                                            <h4>
                                                {{ stockDispo() }} {{ ingredient.unite.toLocaleLowerCase() }}s
                                                <br>
                                                @if (+pourcentstockDispo().toFixed(2) >= 70) {
                                                <h6 style="color: green;"> {{ pourcentstockDispo().toFixed(2) }}% </h6>
                                                }@else if (+pourcentstockDispo().toFixed(2) < 70 &&
                                                    +pourcentstockDispo().toFixed(2)>= 30) {
                                                    <h6 style="color: orange;"> {{ pourcentstockDispo().toFixed(2) }}%
                                                    </h6>
                                                    }@else if (+pourcentstockDispo().toFixed(2) < 30 &&
                                                        +pourcentstockDispo().toFixed(2)==0) { <h6 style="color: red;">
                                                        {{ pourcentstockDispo().toFixed(2) }}% </h6>
                                                        }@else {
                                                        <h6 style="color: red;"> <del>{{ pourcentstockDispo().toFixed(2)
                                                                }}</del> % </h6>
                                                        }
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <div class="campaign-box bg-danger-light">
                                            <div class="campaign-img">
                                                <p>Montant total achats</p>
                                            </div>
                                            <h4>
                                                {{ formatCurrency(montantTotalAchat(), currentUser.currency) }}
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="campaign-box bg-warning-light">
                                            <div class="campaign-img">
                                                <p>Stocks total</p>
                                            </div>
                                            <h4>
                                                {{stockTotal()}} {{ ingredient.unite.toLocaleLowerCase() }}s
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Campaign Status -->
                            </div>
                        </div>
                        <!-- Recent Task List -->
                        <div class="task-wrapper">
                            @if (isLoadingData || isLoading){
                            <button disabled class="btn btn-primary">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                            } @else {
                            <div class="tasks-activity tasks mb-5" id="recent">
                                <ul>
                                    @for (item of dataList; track item.ID) {
                                    <li class="task-wrap" [ngClass]="{ 
                                        'success':  70
                                    }">
                                        <div>
                                            <h6> Qty:
                                                {{item.quantity}} @if (item.quantity > 1 ) {
                                                {{ ingredient.unite }}s
                                                } @else {
                                                {{ ingredient.unite }}
                                                }
                                            </h6>
                                            <p>Exp: {{item.date_expiration | date:'dd/MM/YYYY'}}</p>
                                        </div>
                                        <div class="task-actions">
                                            <ul>
                                                <li>
                                                    PAU: {{ formatCurrency(item.prix_achat, currentUser.currency) }}
                                                </li>
                                                <li class="task-owner">
                                                    <div class="dropdown table-action">
                                                        <a href="javascript:void(0);" class="action-icon"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            @if(currentUser.permission === 'ALL' ||
                                                            currentUser.permission === 'AM' ||
                                                            currentUser.permission === 'MS' ||
                                                            currentUser.permission === 'M') {
                                                            <a class="dropdown-item" data-bs-toggle="offcanvas"
                                                                href="javascript:void(0);"
                                                                data-bs-target="#offcanvas_edit_mobile"
                                                                (click)="findValue(item.ID!)">
                                                                <i class="ti ti-edit text-blue"></i>
                                                                Edit
                                                            </a>
                                                            }
                                                            @if (isLoading) {
                                                            <div class="spinner-border" role="status">
                                                                <span class="visually-hidden">Loading...</span>
                                                            </div>
                                                            }@else {
                                                            @if(currentUser.permission === 'ALL' ||
                                                            currentUser.permission === 'MS') {
                                                            <a class="dropdown-item" href="javascript:void(0);"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#delete_contact_mobile"
                                                                (click)="findValue(item.ID!)">
                                                                <i class="ti ti-trash text-danger"></i>
                                                                Delete
                                                            </a>
                                                            }
                                                            }
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    } @empty {
                                    <li>Pas encore de donnée </li>
                                    }
                                </ul>
                            </div>
                            <mat-paginator [length]="length" [pageSize]="pageSize"
                                [pageSizeOptions]="[15, 20, 30, 40, 50, 80, 100]" showFirstLastButtons
                                (page)="onPageChange($event)" aria-label="Select page">
                            </mat-paginator>
                            }

                        </div>
                        <!-- /Recent Task List -->
                    </div>
                </div>
            </div>
            }
            }

        </div>
        }

    </div>
</div>
<!-- /Page Wrapper -->

<!-- Add data form -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_add">
    <div class="offcanvas-header border-bottom">
        @if (ingredient) {
        <h4>Ajouter Nouveau stock de <span class="text-primary">{{ ingredient.name }}</span></h4>
        }
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="col-form-label" for="name">Prix d'achat unitaire<span
                                        class="text-danger">*</span></label>
                            </div>
                            <input type="number" class="form-control" formControlName="prix_achat" required />
                            <mat-error *ngIf="formGroup.controls['prix_achat'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="col-form-label" for="name">Quantité <span
                                        class="text-danger">*</span></label>
                            </div>
                            <input type="number" class="form-control" formControlName="quantity" required />
                            <mat-error *ngIf="formGroup.controls['quantity'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="Start">
                                Date d'expiration du produit
                                <span class="text-danger">*</span>
                            </label>
                            <div class="icon-form">
                                <span class="form-icon"><i class="ti ti-calendar-event"></i></span>
                                <input type="text" class="form-control datetimepicker" bsDatepicker
                                    [bsConfig]="{ adaptivePosition: true }" value="29-02-2020"
                                    formControlName="date_expiration" />
                                <mat-error *ngIf="formGroup.controls['date_expiration'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="col-form-label" for="description">Description <span
                                        class="text-danger">*</span></label>
                            </div>
                            <input type="text" class="form-control" formControlName="description" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="fournisseur_id">
                                Fournisseur
                                <span class="text-danger">*</span>
                            </label>
                            <mat-select class="select custom-mat-select" formControlName="fournisseur_id"
                                placeholder="Choose fournisseur">
                                @for (item of fournisseurList; track item) {
                                <mat-option value="{{item.ID}}">{{item.name}}</mat-option>
                                }
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls['fournisseur_id'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="offcanvas">Annuler</a>
                @if (isLoading) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoading) {
                <button type="submit" class="btn btn-primary" id="myOffcanvas" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Soumettre</button>
                }
            </div>
        </form>
    </div>
</div>
<!-- /Add data form -->

<!-- Edit data form -->
<div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="offcanvas_edit">

    <div class="offcanvas-header border-bottom">
        @if (ingredient) {
        <h4>Modifier le stock de <span class="text-primary">{{ ingredient.name }}</span></h4>
        }
        <button type="button"
            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
            data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="ti ti-x"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmitUpdate()">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="col-form-label" for="name">Prix d'achat unitaire<span
                                        class="text-danger">*</span></label>
                            </div>
                            <input type="number" class="form-control" formControlName="prix_achat" required />
                            <mat-error *ngIf="formGroup.controls['prix_achat'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="col-form-label" for="name">Quantité <span
                                        class="text-danger">*</span></label>
                            </div>
                            <input type="number" class="form-control" formControlName="quantity" required />
                            <mat-error *ngIf="formGroup.controls['quantity'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="Start">
                                Date d'expiration du produit
                                <span class="text-danger">*</span>
                            </label>
                            <div class="icon-form">
                                <span class="form-icon"><i class="ti ti-calendar-event"></i></span>
                                <input type="text" class="form-control datetimepicker" bsDatepicker
                                    [bsConfig]="{ adaptivePosition: true }" value="29-02-2020"
                                    formControlName="date_expiration" />
                                <mat-error *ngIf="formGroup.controls['date_expiration'].hasError('required')">
                                    Ce champs est obligatoire
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="col-form-label" for="description">Description <span
                                        class="text-danger">*</span></label>
                            </div>
                            <input type="text" class="form-control" formControlName="description" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="col-form-label" for="fournisseur_id">
                                Fournisseur
                                <span class="text-danger">*</span>
                            </label>
                            <mat-select class="select custom-mat-select" formControlName="fournisseur_id"
                                placeholder="Choose fournisseur">
                                @for (item of fournisseurList; track item) {
                                <mat-option value="{{item.ID}}">{{item.name}}</mat-option>
                                }
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls['fournisseur_id'].hasError('required')">
                                Ce champs est obligatoire
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-light me-2">Cancel</button>
                @if (isLoading) {
                <button disabled class="btn btn-primary">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                }
                @if (!isLoading) {
                <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas"
                    data-bs-target="#create_success">Save
                    Changes</button>
                }
            </div>
        </form>
    </div>

</div>
<!-- /Edit data form -->

<!-- Delete data item -->
<div class="modal fade" id="delete_contact" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Supprimer cet l'élément ?</h4>
                    <p class="mb-0">Êtes-vous sûr de vouloir le supprimer ?</p>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Annuler</a>
                        <button (click)="delete()" class="btn btn-danger" data-bs-dismiss="modal">
                            Oui, supprimez-le
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete data item -->