@if (loadUserData) {
    <div class="text-center d-flex justify-content-center align-items-center">
        <div class="spinner-border bs-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    }@else {
    @if (isLoadingData) {
    <div class="text-center d-flex justify-content-center align-items-center">
        <div class="spinner-border bs-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    } @else {
    @if (currentUser) {
    <!-- Card -->
    <div class="card">
        <div class="card-header">
            <!-- Search -->
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <div class="icon-form mb-3 mb-sm-0">
                        <span class="form-icon"><i class="ti ti-search"></i></span>
                        <input type="text" #input [(ngModel)]="search" (ngModelChange)="onSearchChange($event)"
                            class="form-control" placeholder="Rechercher un produit">
                    </div>
                </div>
            </div>
            <!-- /Search -->
        </div>
        <div class="card-body">
      
            <div class="row">
                @for (item of dataList; track item.ID) {
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <app-liv-plat-item
                            [currentUser]="currentUser" 
                            [item]="item"
                            [livraisonId]="livraisonId"
                        ></app-liv-plat-item>
                    </div>
                }
            </div> 
        </div>
    </div>
    <!-- /Card -->
    }
    }
}